@model UI.Models.User.User

@{
    ViewBag.Title = "Register";
}

<head>
    <script>
        $(document).ready(function () {
            $("h5").click(function () {
                $(this).hide();
            });
        });
    </script>
</head>

<body>
    <div class="jumbotron">
        <h2>注册</h2>
        <p>
            @using (Html.BeginForm())
            {
                <label>用户名：</label><br />
                @Html.TextBoxFor(m => m.UserName)<br />
                @Html.ValidationMessageFor(m => m.UserName)<br />

                <label>密码：</label><br />
                @Html.PasswordFor(m => m.PassWord)<br />
                @Html.ValidationMessageFor(m => m.PassWord)<br>

                <label>确认密码</label><br />
                @Html.PasswordFor(m => m.ConfirmPassWord)<br />
                @Html.ValidationMessageFor(m => m.ConfirmPassWord)<br />

                <div>
                    <label>@Html.RadioButtonFor(m => m.IsMale, true)男</label>
                    <label>@Html.RadioButtonFor(m => m.IsMale, false)女</label>
                </div>
                <div>
                    <label>来自：</label>@Html.EnumDropDownListFor(m => m.InCity)
                </div>
                <div>
                    <label>介绍：</label>@Html.TextAreaFor(m => m.SelfIntroduction)
                </div>
                <div>
                    <label>记住我</label>@Html.CheckBoxFor(m => m.RememberMe)<br />
                    <label>记住你<input type="checkbox" name="Remember" value="true" /></label><br />
                </div>
                <div>
                    <label>
                        验证码：
                        @Html.TextBoxFor(m => m.Captcha, new { style = "width:60px" })
                        <a href="/Register">
                            <img src="/Captcha/Get" alt="点击刷新" />
                        </a>
                    </label>
                    <br />
                    @Html.ValidationMessageFor(m => m.Captcha)
                    <br />
                    <input type="submit" value="提交" />
                </div>
            }
        </p>
        <h5>如果你点我，我就会消失。</h5>
        <h5>继续点我!</h5>
        <h5>接着点我!</h5>
    </div>
</body>
