@model UI.Models.User.User

@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div class="jumbotron">
        <h2>注册</h2>
        <p>
            @using (Html.BeginForm())
            {
                <label>用户名：</label><br />
                @Html.TextBoxFor(m => m.UserName,new { placeholder="请输入用户名",style="width:300px;"})<br />
                @Html.ValidationMessageFor(m => m.UserName)<br />

                <label>密码：</label><br />
                @Html.PasswordFor(m => m.PassWord,new {placeholder="请输入密码", style="width:100px"} )<br />
                @Html.ValidationMessageFor(m => m.PassWord)<br>

                <label>确认密码</label><br />
                @Html.PasswordFor(m => m.ConfirmPassWord,new { style = "width:60px" })<br />
                @Html.ValidationMessageFor(m => m.ConfirmPassWord)<br />

                <div>
                    <label>@Html.RadioButtonFor(m => m.IsMale, false)男</label>
                    <label>@Html.RadioButtonFor(m => m.IsMale, true)女</label>
                </div>
                <div>
                    <label>来自：</label>@Html.EnumDropDownListFor(m => m.InCity)
                </div>
                <div>
                    <label>介绍：</label>@Html.TextAreaFor(m => m.SelfIntroduction)
                </div>
                <div>
                    <label>记住我</label>@Html.CheckBoxFor(m => m.RememberMe)
                    @*<label>记住你<input type="checkbox" name="Remember" value="true" /></label><br />*@
                </div>

                <input type="submit" value="提交" />
            }
        </p>

    </div>
</body>
</html>